# Traffic Analysis

This notebook belongs to Sonika Arora. 

Created on: September 21, 2018 Friday 9:00pm

In [188]:
import numpy as np
from datascience import *
from datetime import date
import calendar

# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)
from urllib.request import urlopen
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [189]:
average_daily_traffic_data = Table.read_table("Average_Daily_Traffic_Counts.csv")

## About the Data

Average Daily Traffic (ADT) counts are analogous to a census count of vehicles on city streets. These counts provide a close approximation to the actual number of vehicles passing through a given location on an average weekday. Since it is not possible to count every vehicle on every city street, sample counts are taken along larger streets to get an estimate of traffic on half-mile or one-mile street segments. ADT counts are used by city planners, transportation engineers, real-estate developers, marketers and many others for myriad planning and operational purposes. Data Owner: Transportation. Time Period: 2006. Frequency: A citywide count is taken approximately every 10 years.

#### Access and Use Information: This dataset is intended for public access and use.

In [190]:
average_daily_traffic_data

ID   | Traffic Volume Count Location  Address | Street         | Date of Count | Total Passing Vehicle Volume | Vehicle Volume By Each Direction of Traffic | Latitude | Longitude | Location
2    | 1708 West                              | 71st Street    | 03/09/2006    | 14600                        | East Bound: 6900 / West Bound: 7700         | 41.7649  | -87.6666  | (41.764877, -87.666635)
3    | 1275 West                              | 71st Street    | 02/28/2006    | 16500                        | East Bound: 7800 / West Bound: 8700         | 41.765   | -87.6571  | (41.765008, -87.657067)
5    | 920 West                               | 71st Street    | 02/28/2006    | 18200                        | East Bound: 8800 / West Bound: 9400         | 41.7652  | -87.6478  | (41.765153, -87.647751)
6    | 758 West                               | 71st Street    | 02/28/2006    | 21600                        | East Bound: 10400 / West Bound: 11200       | 41.7652  | -87.6444  | (41.765204, -87.644371)
7    | 240 East                               | 71st St        | 02/28/2006    | 18300                        | East Bound: 9000 / West Bound: 9300         | 41.7656  | -87.6185  | (41.765644, -87.618476)
9    | 2050 East                              | 71st St        | 03/09/2006    | 8600                         | East Bound: 3600 / West Bound: 5000         | 41.7663  | -87.5742  | (41.76626, -87.574226)
10   | 8539 South                             | Commercial Ave | 03/07/2006    | 10000                        | North Bound: 5000 / South Bound: 5000       | 41.7398  | -87.5515  | (41.739836, -87.551476)
11   | 8933 South                             | Commercial Ave | 03/07/2006    | 10500                        | North Bound: 4900 / South Bound: 5600       | 41.7327  | -87.5513  | (41.732725, -87.55132)
12   | 9379 South                             | Commercial Ave | 03/07/2006    | 12700                        | North Bound: 6000 / South Bound: 6700       | 41.7244  | -87.5511  | (41.724444, -87.551124)
13   | 9730 South                             | Commercial Ave | 03/07/2006    | 9000                         | North Bound: 4000 / South Bound: 5000       | 41.7182  | -87.551   | (41.718183, -87.551016)
... (1269 rows omitted)

# Analysis of the Traffic data

#### Based on the above data, we can questions like: 

1. On what days were most counts conducted on each street?

2. Do we see a difference in the number of vehicles on the road on weekdays vs. weekends?

3. Which is the main street that most travellers prefer to take?

4. Which directions are affected most by traffic? 

5. Can we graph the number of vehicles travelling in each direction for a particular street? 

6. What are the days when each street is most busy?

## 1. Days when most counts were done on each street

In [191]:
def combined(a):
    return a

In [192]:
traffic_data_combined = average_daily_traffic_data.group('Street', combined)
traffic_data_combined

Street       | ID  combined                         | Traffic Volume Count Location  Address combined              | Date of Count combined                                       | Total Passing Vehicle Volume combined       | Vehicle Volume By Each Direction of Traffic combined         | Latitude combined                                            | Longitude combined                                           | Location combined
100th St     | [154 155]                            | ['2701 East' '3250 East']                                    | ['05/04/2006' '05/04/2006']                                  | [11000 12800]                               | ['East Bound: 5400 / West Bound: 5600'
 'East Bound: 730 ... | [41.713352 41.713772]                                        | [-87.558074 -87.54362 ]                                      | ['(41.713352, -87.558074)' '(41.713772, -87.54362)']
101st St     | [1375]                               | ['352 West']                                                 | ['10/04/2006']                                               | [6800]                                      | ['East Bound: 4100 / West Bound: 2700']                      | [41.710698]                                                  | [-87.632871]                                                 | ['(41.710698, -87.632871)']
103rd St     | [ 218  219  556 1292 1305 1306 1307] | ['235 East' '907 East' '2501 West' '646 West' '3235 West ... | ['03/28/2006' '03/22/2006' '08/24/2006' '09/06/2006' '10 ... | [21700 17800 23600 21000 31800 19000 16900] | ['East Bound: 12300 / West Bound: 9400'
 'East Bound: 10 ... | [41.70726  41.707533 41.706389 41.706956 41.706174 41.70 ... | [-87.617296 -87.600985 -87.684155 -87.639881 -87.702769  ... | ['(41.70726, -87.617296)' '(41.707533, -87.600985)'
 '(4 ...
103rd Street | [216 217]                            | ['537 West' '112 West']                                      | ['03/28/2006' '03/22/2006']                                  | [18700 18600]                               | ['East Bound: 11000 / West Bound: 7700'
 'East Bound: 11 ... | [41.706991 41.707125]                                        | [-87.63698  -87.626548]                                      | ['(41.706991, -87.63698)' '(41.707125, -87.626548)']
106th St     | [420]                                | ['3541 East']                                                | ['10/18/2006']                                               | [16500]                                     | ['East Bound: 9900 / West Bound: 6600']                      | [41.702743]                                                  | [-87.537314]                                                 | ['(41.702743, -87.537314)']
107th St     | [ 470  578  812 1279 1308]           | ['738 West' '158 East' '1345 West' '121 West' '2223 West']   | ['08/29/2006' '08/29/2006' '08/24/2006' '08/29/2006' '09 ... | [10900  8000  7900  9100  8200]             | ['East Bound: 5100 / West Bound: 5800'
 'East Bound: 360 ... | [41.699648 41.69994  41.699481 41.699831 41.699096]          | [-87.641695 -87.618575 -87.656564 -87.626661 -87.6777  ]     | ['(41.699648, -87.641695)' '(41.69994, -87.618575)'
 '(4 ...
109th St     | [1373]                               | ['354 West']                                                 | ['10/04/2006']                                               | [800]                                       | ['West Bound: 800/ Oneway West Bound ']                      | [41.696116]                                                  | [-87.632637]                                                 | ['(41.696116, -87.632637)']
111th St     | [ 454  469  573  579 1280 1309 1310] | ['711 East' '3980 West' '2208 West' '350 East' '28 West' ... | ['08/29/2006' '08/22/2006' '08/22/2006' '08/29/2006' '08 ... | [16500 20200 22600 12200 12800 29800 19800] | ['East Bound: 7500 / West Bound: 9000'
 'East Bound: 970 ... | [41.692822 41.691285 41.69184  41.692731 41.692571 41.69 ... | [-87.605505 -87.720316 -87.676796 -87.613734 -87.624189  ... | ['(41.692822, -87.605505)' '(41.691285, -87.720316)'
 '( ...
112th St     | [ 468 1293]                          | ['3455 East' '3755 East']                                    | ['10/18/2006' '10/18/2006']                                  | [7700 6300]                                 | ['East Bound: 4600 / West Bound: 3100'
 'East Bound: 350 ... | [41.691858 41.69183 ]                                        | [-87.539118 -87.531879]                                      | ['(41.691858, -87.539118)' '(41.69183, -87.531879)']
115th St     | [ 813  816  840 1281 1311]           | ['1920 West' '3254 West' '40 West' '714 West' '2958 West']   | ['10/31/2006' '08/22/2006' '08/29/2006' '08/29/2006' '08 ... | [ 6300 15500 11700 12200 12600]             | ['East Bound: 3000 / West Bound: 3300'
 'East Bound: 810 ... | [41.684661 41.684228 41.6853   41.685103 41.684346]          | [-87.670012 -87.702778 -87.624481 -87.640375 -87.695367]     | ['(41.684661, -87.670012)' '(41.684228, -87.702778)'
 '( ...
... (241 rows omitted)

In [193]:
def no_duplicates(duplicate): 
    list_result = [] 
    for num in duplicate: 
        if num not in list_result: 
            list_result.append(num) 
    return list_result

In [194]:
most_busy_on = list()
total_counts=list()
for arr in traffic_data_combined.column('Date of Count combined'):
    corresponding_day = list()
    for entry in no_duplicates(arr):
        split_str = entry.split('/')
        mm =  int(split_str.pop(0))
        dd = int(split_str.pop(0))
        yyyy = int(split_str.pop(0))
        my_date = datetime.date(yyyy,mm,dd)
        corresponding_day.append(calendar.day_name[my_date.weekday()])

    most_busy_on.append(max(corresponding_day,key=corresponding_day.count))
    total_counts.append(len(arr))

traffic_data_combined = traffic_data_combined.with_column('Most Counts Day', most_busy_on, 'Total # of counts', total_counts).select('Street','Most Counts Day','Total # of counts')
traffic_data_combined

Street       | Most Counts Day | Total # of counts
100th St     | Thursday        | 2
101st St     | Wednesday       | 1
103rd St     | Tuesday         | 7
103rd Street | Tuesday         | 2
106th St     | Wednesday       | 1
107th St     | Tuesday         | 5
109th St     | Wednesday       | 1
111th St     | Tuesday         | 7
112th St     | Wednesday       | 2
115th St     | Tuesday         | 5
... (241 rows omitted)

Input Text